.container_exchange{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 30px;
    margin-top: 50px;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 150px;
}

.img_container img{

    height: 500px;
    max-width: 400px;

}

.infoBook_container{
    background-color: rgb(5, 5, 5, 0.7);
    color: #fff;
    padding: 15px;
}

h1{
    text-align: center;
}


.btn_exchange  button{
    position: relative;
    bottom: -170px;
    right: -100px;
    height: 45px;
    line-height: 45px;
    width: 38%;
    background: rgb(252, 95, 5);
    color: #fff ;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  .1s ease all;
    margin-bottom: 20px;
    

}
.btn_chat{
     
    background: rgb(252, 95, 5);
    color: #fff ;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  .1s ease all;
    margin-bottom: 20px;
    display: none;
    padding: 5px;
}



.myselection_container{
    background-color: rgb(5, 5, 5, 0.7);
    color: #fff;
    padding: 15px;

}




.conteinerBookUser{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(5, 5, 5, 0.8);
    margin-bottom: 10px;
    border:3px solid black;
    border-radius: 5px;
    
    
}

.select_book{

    border:3px solid rgb(252, 95, 5);
    box-shadow: 10px 10px 30px #000;

}
.ContDelet{
text-align: right;
font-size: 20px;
}

.ContDelet  :hover{
    color: red;
    font-size: 35px;
    transition:  250ms;
}




.conteinerBookUser h3{
    font-size: 15px;
    text-align: left;
}

.conteinerBookUser img{
    height: 100px;
    max-width: 80px;
}


.myselection_container{
    overflow-y:auto;
    height: 500px;
}

.title3 h5{
    color:#fff;
    text-align: center;
    font-size: 25px;
    
}

.message-susses{
    background-color: rgba(85, 248, 36, 0.6);
    box-shadow: 10px 10px 30px rgb(10, 97, 2);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 0%;
    display: none;
    cursor: pointer;
    

}

.active{
    
    display: block;
}

.invisible{
    display: none;
    
}

.messageDeleteTrue{
    background-color: rgb(16, 207, 16);
    color: #fff;
    display: none;
    padding: 10px;
    border-radius: 10px;
    

}

.messageDeleteFalse{
    background-color: rgb(247, 22, 22);
    color: #fff;
    display: none;
    padding: 10px;
    border-radius: 10px;
    
}

.messageBookNotFound{
    background-color:rgb(252, 95, 5);
    color: #fff;
    display: none;
    padding: 10px;
    border-radius: 10px;
    

}




.Message_1{
    background-color: rgb(16, 207, 16);
    box-shadow: 10px 10px 30px rgb(10, 97, 2);
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    display: none;

}

.Message_Delete_Exchange{

    background-color: rgb(255, 255, 0);
    box-shadow: 10px 10px 30px rgb(191, 204, 2);
    color: black;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    display: none;
}

.Message_2{
    background-color: rgb(245, 24, 24);
    box-shadow: 10px 10px 30px rgb(117, 1, 1);
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    display: none;

}

