{% extends 'layout.html' %}

{%block body%}

<div class="container_Chat">
    <h1> Chat</h1>

    <h3 style='color: rgb(253, 249, 249);font-size: 30px;'>No message yet..</h3>
    <div style='color: rgb(253, 249, 249);font-size: 10px;' class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://127.0.0.1:8000/static/js/chat.js"></script>
{%endblock%}