{% extends 'layout.html' %}

{%block body%}


<div class="contExchangeView">

    <!-- --------------------------- mi libro ------------------- -->

    
<div class="BontBook1">
    <i class="fas fa-long-arrow-alt-right fa-2x"></i>
    <h2>Tu le ofreces  {{data['bookId1'][11]}}  </h2>
    <h3>{{data['bookId2'][1]}}</h3>

    

        <img class="imgExchangeView" src="http://127.0.0.1:8000/static/{{data['bookId2'][9]}}" />

   
    <ul>
        <li>Categoria
            <ul>{{data['bookId2'][3]}}</ul>
        </li>
        <li>Autor
            <ul>{{data['bookId2'][5]}}</ul>
        </li>

        <li>Estado Conservacion
            <ul>{{data['bookId2'][8]}}</ul>
        </li>
    </ul>
</div>
 <!-- -----------------------------botones ----------------------- -->
<div class="BontBook1">

    
    <button class="btn" id="Btn_delete_Exchange"  value="{{data['ExchangeId']}}">ELIMINAR SOLICITUD</button>

    <div class="Cont_messages">
        <p class="Message_Delete_Exchange">Solicitude de Intercambio Anulada <i class="far fa-handshake fa-2x"></i></p>
        <p class="Message_1"> {{data['bookId1'][11]}} Aceptado tu intercambio<i class="far fa-handshake fa-2x"></i></p>
      
    </div>

    <a href="/chat">
    <button class="btn_chat" >Enviar Mensaje <i class="fas fa-comments fa-2x"></i></button> </a>

</div>

           <!-- ------------------------------Libro 2 ------------------------      -->

<div class="BontBook2">
    <i class="fas fa-long-arrow-alt-left fa-2x"></i>
    <h3> Quieres {{data['bookId1'][1]}}</h3>
    

        <img class="imgExchangeView" src="http://127.0.0.1:8000/static/{{data['bookId1'][9]}}" >

   
    <ul>
        <li>Categoria
            <ul>{{data['bookId1'][3]}}</ul>
        </li>
        <li>Autor
            <ul>{{data['bookId1'][5]}}</ul>
        </li>
        <li>Estado Conservacion
            <ul>{{data['bookId1'][8]}}</ul>
        </li>
    </ul>
</div>


    
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://127.0.0.1:8000/static/js/deleteRequestExchange.js"></script>


{%endblock%}